<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890395724825-ddh9lda9iidr2khum4jssk3nucuc8bpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890395724825-ddh9lda9iidr2khum4jssk3nucuc8bpe</string>
	<key>API_KEY</key>
	<string>AIzaSyAo6VVt7PigUK_zjGwPn5atslaRea4KE9o</string>
	<key>GCM_SENDER_ID</key>
	<string>890395724825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidthai.kittinunshoppingmall</string>
	<key>PROJECT_ID</key>
	<string>kittinunshoppingmall</string>
	<key>STORAGE_BUCKET</key>
	<string>kittinunshoppingmall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890395724825:ios:276a40447521db86fa6e88</string>
</dict>
</plist>